.hideBg::part(background){
  display: none;
}
body div:nth-child(3) {
  width: 40% !important;
  height: 40% !important;
  top: 20vh !important;
  left: 30vw !important;
}
.opadiv{
  width: 80vw;
  height: 42vh;
  border: 1px solid white;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 19vh;
  left: 10vw;

}
.list{
  display: flex;
}
.img{
  max-width: 20%;
  position: relative;
  top: 15px;
}
.img img{
  width: 100%;
}
.item{
  flex: 1;
  margin-left: 10px;
}